:root {
  --black: #222222;
  --gray: #717171;
  --darkRed: rgb(161, 54, 54);
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}
