.gameCanvasContainer {
    min-height: 1400px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
}
    .gameControlsContainer {
        height: 270px;
        width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gameControlsContainerUpper {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }

    .gameControlsContainerLower {
        height: 100px;
        width: 1024px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .gameControlsContainerLower2 {
        height: 70px;
        width: 1024px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

        .gameControlStartButton {
            height: 40px;
            min-width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgb(65, 181, 129);
            font-weight: bold;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
        }

        .gameControlEndButton {
            height: 40px;
            min-width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgb(181, 65, 65);
            font-weight: bold;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
        }

        .gameControlApplyButton {
            height: 40px;
            min-width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            color: var(--black);
            font-weight: bold;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
        }

            .crossThroughText {
                text-decoration: line-through;
                color: var(--darkRed);
            }

            .button-glow {
                animation: glowing 0.5s infinite alternate;
            }

            @keyframes glowing {
                0% {
                    background-color: white;
                    box-shadow: 0 0 5px white;
                    color: var(--black);
                }
                    100% {
                    background-color: black;
                    box-shadow: 0 0 5px black;
                    color: white;
                }
            }

        .gameControlContainer {
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

            .gameControlText {
                height: 20px;
                font-size: 15px;
                font-weight: bold;
            }

            .gameControlInteract {
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .gameControlInteractIconContainer {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background-color: white;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                    .gameControlerInteractIcon {
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--black);
                    }

                    .gameControlerInteractIcon2 {
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--black);
                        margin-bottom: 2px;
                    }

                    .gameControlInteractText {
                        margin-left: 10px;
                        margin-right: 10px;
                        user-select: none;
                    }

    .gameCanvasContainerMain {
        min-height: 576px;
        min-width: 1024px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .lowerCanvasTitle {
        font-size: 18px;
        font-weight: bold;
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .lowerCanvasContainer {
        min-height: 450px;
        width: 1024px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

        .lowerCanvasContainerLeft {
            height: 500px;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .visualizerCanvasContainer {
                min-height: 424px;
                min-width: 424px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

        .lowerCanvasContainerRight {
            min-height: 500px;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .lowerCanvasContainerRightStatsContainer {
                min-height: 424px;
                width: 424px;
                background-color: #141414;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow-y: auto;
                overflow-x: auto;
                padding: 40px;
            }

            .lowerCanvasContainerRightStatsContainer::-webkit-scrollbar {
                width: 6px;
                background-color: rgb(24, 24, 24);
            }

            .lowerCanvasContainerRightStatsContainer::-webkit-scrollbar-thumb {
                width: 3px;
                background-color: rgb(98, 98, 98);
                border-radius: 5px;
            }

            .lowerCanvasStatHeader {
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 15px;
            }

            .lowerCanvasStatText {
                font-size: 15px;
                font-weight: bold;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                line-height: 1.6;
                padding-left: 40px;
                margin-bottom: 30px;
                user-select: none;
            }

            .lowerCanvasStatText2 {
                font-size: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                line-height: 1.6;
                padding-left: 40px;
                margin-bottom: 30px;
                user-select: none;
            }

/* Hide the warning message by default */
.screen-warning {
    display: none;
}

/* Show the warning message and hide the app content when the screen width is less than 1050px or height is less than 600px */
@media screen and (max-width: 1049px), screen and (max-height: 599px) {
    .gameCanvasContainer {
        display: none;
    }

    .screen-warning {
        display: block;
    }
}
